.home-container {
  font-family: "Roboto", sans-serif;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.home-links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.home-link {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  margin-bottom: 10px;
}

.home-link:hover {
  background-color: #0056b3;
}
